<div class="d-flex justify-content-center">
  <div *ngIf="isEditingSurvey==false">
    <button
      class="btn btn-danger"
      style="margin-right: 2rem; width: 9rem"
      (click)="onDeleteSurveyClick()"
    >Delete Survey
    </button>
    <button
      class="btn btn-warning"
      style="width: 9rem"
      (click)="toggleEditClick()"
    >Edit Survey
    </button>
  </div>
  <div *ngIf="isEditingSurvey==true">
    <p class="text-center m-3" style="color: red">Editing In Progress</p>
    <button
      class="btn btn-warning"
      style="margin-right: 2rem; width: 9rem"
      (click)="toggleEditClick()"
    >Cancel
    </button>
    <button
      class="btn btn-success"
      style="width: 9rem"
    >Save
    </button>
  </div>

</div>

<div class="text-center mt-5">
  <h3>SURVEY TITLE: <br> {{survey.title | json | uppercase | slice: 1:-1}}</h3>
</div>

<div>
  <app-question-list></app-question-list>
</div>





