
<!--  QUESTION INPUT & RESPONSE TYPE SELECTION/INPUT-->
<div class="container mb-3 mt-3" style="border: solid black thin; padding: 2rem">
  <!--    QUESTION INPUT-->
  <div id="boolean-input" class="d-flex justify-content-center">
    <div class="input-group m-3">
      <span class="input-group-text">Question:</span>
      <input type="text" class="form-control" [(ngModel)]="newQuestion.prompt">
    </div>
  </div>

<!--  RESPONSE TYPE SELECTION/INPUT-->
  <div class="text-center">
    <label for="response-type">Select Type of Response Required For Question: </label>
    <div>
      <select [(ngModel)]="newQuestion.responseType" name="response-type" id="response-type">
        <option value="boolean response" [ngValue]="booleanResponse">True/False</option>
        <option value="multi-choice response" [ngValue]="multiResponse">Multiple-Choice</option>
        <option value="text response" [ngValue]="textResponse">Text</option>
      </select>
    </div>
  </div>

  <div class="text-center mt-3">
    <button class="btn btn-danger">Delete Question</button>
  </div>
  <div *ngIf="newQuestionAdded == false" class="text-center mt-3">
    <button class="btn btn-success" (click)="onAddQuestionClick()">Add Question</button>
  </div>

</div>

<!--  <button (click)="checkInputs()">Check Inputs</button>-->
