
<!--  QUESTION INPUT & RESPONSE TYPE SELECTION/INPUT-->
<div class="container mb-3 mt-3" style="border: solid black thin; padding: 2rem">
  <!--    QUESTION INPUT-->
  <div id="boolean-input" class="d-flex justify-content-center">
    <div class="input-group m-3">
      <span class="input-group-text">Question:</span>
      <input type="text" class="form-control">
    </div>
  </div>
  <!--    RESPONSE SELECTION/INPUT-->
  <div class="text-center">
    <p>Select Type of Response</p>
    <div class="d-flex justify-content-center">

      <div style="margin-right: 3rem">
        <input type="checkbox">
        <label>&nbsp;True/False</label>
      </div>

      <div style="margin-right: 3rem">
        <input type="checkbox">
        <label>&nbsp;Multiple-Choice</label> <br>
      </div>

      <div style="margin-right: 3rem">
        <input type="checkbox">
        <label>&nbsp;Text</label>
      </div>
    </div>
  </div>
</div>
