<!--<div>Survey Owner: {{question.surveyOwner | json}}</div>-->

<div class="card m-5 text-center">
  <div class="card-body">
    Question {{question.id}}: {{question.prompt}}
  </div>
  <div *ngIf="isEditingSurvey==true">
    <div *ngIf="isEditing==false" class="card-footer">
      <button
        class="btn btn-sm btn-outline-danger" style="width: 7rem; margin-right: 3rem" (click)="onDeleteQuestionClick()">Delete
      </button>
      <button
        class="btn btn-sm btn-outline-warning" style="width: 7rem" (click)="toggleEditClick()">Edit
      </button>
    </div>

    <div *ngIf="isEditing==true" class="card-footer">
      <button class="btn btn-sm btn-warning" style="width: 7rem; margin-right: 3rem" (click)="toggleEditClick()">Cancel</button>
      <button class="btn btn-sm btn-success" style="width: 7rem">Save</button>
    </div>
  </div>

</div>
